/* ------------------------------------->Text Center<-------------------------------------------------------------- */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border: 1px solid black ;
}

.header{
  text-align: center;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  display: grid;
  place-items: center; 
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
}

.header {
  text-align: center;
}
 */


 /* ------------------------------------->Pseudo Classes<-------------------------------------------------------------- */
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p:hover{
  display: inline;
  background-color: blue;
  color: white;
}

h1:target{
  background-color: yellow;
  color: palevioletred;
}

/* 
input:focus{
  color: rgb(247, 16, 16);
  background-color: aqua;
}

input:valid{
  color: white;
  background-color: green;
}
input:invalid{
  color: white;
  background-color: red;
}

input:checked + label{
  background: green;
  color: white;
} */

input:in-range{
  color: white;
  background-color: green;
}